<ul class="nav nav-tabs nav-justified">
	<li role="presentation" class="active"><%=link_to("Home", root_path)%></li>
	<li role="presentation"><%= link_to("Projects",projects_path)%></li>
	<li role="presentation"><%= link_to("Algorithms",algorithms_path)%></li>
	<li role="presentation"><%= link_to("Contact information",contact_path)%></li>
</ul>
<div class="content">
	<h3>A summary about me:</h3>
	<p>Ever since I can remember, I’ve been enamored with computers. When I was a child, I used to play with my father’s computer and learn what this thing called “technology” was.  While pursuing my bachelors in Biology, the love of technology was always present, however, I decided to keep tinkering around with computers only as a hobby.</p>

	<p>While my career continued to grow, I learned about various types of software and how computers continued to evolve…this only ignited my passion even more which led me to Coding Dojo. It was at the Coding Dojo Bootcamp where I learned 3 stacks and several languages such as: JavaScript, Ruby, Python, HTML, and CSS. </p>

	<p>Now, not only am I still extremely passionate about Programming, I’m now equipped to work on projects and pursue my career in Software Development as a Full Stack Developer. </p>

	<p>I’m happy I didn’t give up on my dream… and to think, all of this started with an old computer and a dream…</p>

	<p>If you would like to learn more about my work or contact me. Please go to the <%= link_to("Projects tab",projects_path)%> or <%= link_to("Contact information tab",contact_path)%>.</p>
	<h3>Technologies</h3>
	<p>I am a person that is always eager to learn new technologies, langauges, and frameworks as they become available. Please se below:</p>
	<ul class="list-unstyled">
		<li><span class="tech">Language:</span> Python, Ruby, JavaScript</li>
		<li><span class="tech">Front End:</span> HTML5, CCS3, Bootstrap, AngulaJS, JQuery</li>
		<li><span class="tech">Back End:</span> Django, Pylot, Rails, AngularJS, NodeJS</li>
		<li><span class="tech">Other Technologies:</span> Algorithms, Git, GitHub, Deployments</li>
	</ul>
</div>