<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Francisco's Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="background">
   <div class="container-fluid">
		<div class="center-block">
			<%= image_tag("linkenin.jpg", alt:"Francisco J Trujillo", class: "img-responsive img-circle", id:"image")%>
		</div>
		<h1 class="text-center">Francisco J. Trujillo</h1>
		<h2 class="text-center">Full Stack Developer</h2>
		<div class="row partials">
			<div class="col-xs-12">
				<%= yield %>
			</div>
    	</div>
    </div>
  </body>
</html>
